@model IEnumerable<ASPStellysCake.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <div class="create-wrapper">
        <a asp-action="Create" class="btn-create">Добави продукт</a>
    </div>
}


<div class="product-container">
    @foreach (var item in Model)
    {
        var gluten = "";
        if (item.GlutenFree)
        {
            gluten = "Няма";
        }
        else
        {
            gluten = "Има";
        }
        <div class="product-card">
            <img src="@item.ImageURL" alt="@item.Name" />
            
            <h3>@item.Name</h3>
            <p><strong>Категория:</strong> @item.Categories.Name</p>
            <p><strong>Тегло:</strong> @item.Weight</p>
            <p><strong>Глутен:</strong> @gluten</p>
            <p><strong>Описание:</strong> @item.Description</p>
            <p class="price">@item.Price лв.</p>

            <div class="card-buttons">
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-categoryId="@item.CategoryId">Delete</a>
                }
                <form asp-controller="Orders" asp-action="CreateCake" asp-route-cakeId="@item.Id" method="post">
                    <input type="hidden" name="cakeId" value="@item.Id" />
                    <button type="submit" class="btn btn-primary">
                       Поръчай
                    </button>
                </form>
                <a asp-action="Details" asp-route-id="@item.Id" asp-route-categoryId="@item.CategoryId">Details</a>
            </div>
        </div>
    }
</div>