@model IEnumerable<ASPStellysCake.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="product-container">
    @foreach (var item in Model)
    {
        var gluten = "";
        if (item.GlutenFree)
        {
            gluten = "Няма";
        }else
        {
            gluten = "Има";
        }
        <div class="product-card">
            <img src="@item.ImageURL" alt="@item.Name" />
            
            <h3>@item.Name</h3>
            <p><strong>Категория:</strong> @item.Categories.Name</p>
            <p><strong>Тегло:</strong> @item.Weight</p>
            <p><strong>Глутен:</strong> @gluten</p>
            <p><strong>Описание:</strong> @item.Description</p>
            <p class="price">@item.Price лв.</p>

            <div class="card-buttons">
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        </div>
    }
</div>